<ion-view title="Mail" hide-nav-bar="true">
    <ion-header-bar align-title="left" class="one-bar">
        <div 
            class="button button-icon icon ion-ios-arrow-thin-left back-button"
            ng-click="$ionicGoBack()">
        </div>
        <h1 class="title">EMAIL THIS PROJECT</h1>
        <div class="buttons">
            <!-- <button class="button logout-button"></button> -->
        </div>
    </ion-header-bar>
    <ion-content scroll="true" class="vertical">
        <div style="padding:20px;">
            <form id="frmEmail"  class="email-form">
                <div class="list">
                    <input type="text" class="" placeholder="Email">
                </div>
                <div class="row">
                    <button class="button button-default  button-round">SEND</button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>